html body form .required {
  border: 1px solid transparent!important;
}
html body form .required.invalid {
  border: 1px solid red!important;
}
html body .chosen-container .chosen-results li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  html body .modal-signature {
    margin: 0;
    min-height: 100vh;
  }
  html body .modal-signature .modal-content {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  html body .modal-signature .modal-content .modal-body {
    flex: 1 0 auto;
  }
}

.chosen-container {
  width:100% !important;
}
.chosen-container-single .chosen-single {
  background: #eeeeee !important;
  padding: 5px !important;
  border: none !important;
  border-radius: 0 !important;
  height:40px !important;
}

html body.t3-admin .input-group {
  height: auto !important;
}