.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.pointer {
  cursor: pointer;
}
#registro {
  padding: 15px;
}
#registro .pd {
  padding: 15px;
}
#registro .pd-top {
  padding-top: 15px;
}
#registro .pd-bottom {
  padding-bottom: 15px;
}
#registro .pd-right {
  padding-right: 15px;
}
#registro .pd-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}
#registro [class*='bd-'] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#registro .bd-right {
  border-right: 1px solid #E6E9ED !important;
}
#registro .bd-left {
  border-left: 1px solid #E6E9ED !important;
}
#registro .bd-top {
  border-top: 1px solid #E6E9ED !important;
}
#registro .bd-bottom {
  border-bottom: 1px solid #E6E9ED !important;
}
#registro .bd {
  border-top: 1px solid #E6E9ED !important;
  border-bottom: 1px solid #E6E9ED !important;
  border-right: 1px solid #E6E9ED !important;
  border-left: 1px solid #E6E9ED !important;
}
#registro .bd-right-left {
  border-right: 1px solid #E6E9ED !important;
  border-left: 1px solid #E6E9ED !important;
}
#registro .bd-top-right-left {
  border-top: 1px solid #E6E9ED !important;
  border-right: 1px solid #E6E9ED !important;
  border-left: 1px solid #E6E9ED !important;
}
#registro .bd-top-bottom {
  border-top: 1px solid #E6E9ED !important;
  border-bottom: 1px solid #E6E9ED !important;
}
#registro .mg {
  margin: 15px;
}
#registro .mg-top {
  margin-top: 15px;
}
#registro .mg-bottom {
  margin-bottom: 15px;
}
#registro .mg-top-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
#registro h5 {
  margin-top: 0;
  margin-bottom: 0;
}
#registro .pre-compiled {
  font-family: monospace;
  color: #666;
}
#registro .leader {
  text-transform: uppercase;
}
#registro .pt-field-container > .bd:nth-of-type(n + 2) {
  border-top: 0!important;
}
#registro .cc-field-container > .bd:nth-of-type(even),
#registro .ss-field-container > .bd:nth-of-type(even) {
  border-left: 0!important;
}
#registro .cc-field-container > .bd:nth-of-type(n + 3),
#registro .ss-field-container > .bd:nth-of-type(n + 3) {
  border-top: 0!important;
}
#registro .ms-field-container > .bd:nth-of-type(n + 2) {
  border-top: 0!important;
}
#registro .table {
  margin-bottom: 0;
}
#registro .table thead {
  border-bottom: 1px solid #E6E9ED;
}
#registro .table thead > tr > th {
  border: 0;
  vertical-align: middle;
}
#registro .table thead > tr > th + th {
  border-left: 1px solid #E6E9ED;
}
#registro .table tbody > tr {
  border: 0;
}
#registro .table tbody > tr > td {
  border: 0;
  vertical-align: middle;
  font-size: 12px;
}
#registro .table tbody > tr > td + td {
  border-left: 1px solid #E6E9ED;
}
#registro .table tbody > tr + tr {
  border-top: 1px solid #E6E9ED;
}
#registro textarea {
  width: 100%!important;
}
#registro label {
  display: block;
  width: 100%;
  font-weight: bold;
}
#registro label.inline {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}
#registro .block {
  display: block;
}
#registro .this-field {
  font-size: 12px;
}
#registro .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
#registro p {
  margin-bottom: 0;
}
#registro select,
#registro textarea,
#registro input[type="text"],
#registro input[type="password"],
#registro input[type="datetime"],
#registro input[type="datetime-local"],
#registro input[type="date"],
#registro input[type="month"],
#registro input[type="time"],
#registro input[type="week"],
#registro input[type="number"],
#registro input[type="email"],
#registro input[type="url"],
#registro input[type="search"],
#registro input[type="tel"],
#registro input[type="color"],
#registro .inputbox {
  padding: 2px;
  height: 26px;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#registro textarea {
  min-height: 50px;
}
#registro .dataInterventoGroup input[type='text'] {
  display: inline-block;
  float: left;
  padding: 5px;
  height: auto;
}
/*
    .registro > .row {
        border: 1px solid #DDD;
    }
    .registro > .row + .row {
        border-top: none;
    }
    .registro .row > :not([class*='col-']) {
        display: block;
        width: 100%;
    }

    .registro div > [class*='col-'] + [class*='col-']:not(.col-sm-12) {
        border-left: 1px solid #DDD;
    }
    .registro p {
        margin-bottom: 0;
    }
    .registro p + p {
        margin-top: 5px;
    }
    .registro .pre-compiled {
        font-family: monospace;
        color: #666;
    }
    .registro .leader {
        text-transform: uppercase;
    }
    .registro hr.just-line {
        margin: 0;
        padding: 0;
        border-top-color: #DDD;
    }
    .registro .table,
    .registro .table thead {
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .registro .table thead th {
        text-align: center;
        vertical-align: middle;
        font-weight: normal;
    }
    .registro .table td {
        vertical-align: middle;
        font-size: 12px;
    }
    .registro .table {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        margin-bottom: 0;
    }
    .registro .table thead tr th + th,
    .registro .table tbody tr td + td {
        border-left: 1px solid #DDD;
    }
    .registro .img-responsive {
        margin: 0 auto;
    }

    .registro textarea {
        width: 100%;
        margin: 5px;
    }

    .registro .block {
        display: block;
    }

    .registro .table select,
    .registro .table input:not([type='checkbox']):not([type='radio'])
    {padding: 2px; font-size: 13px; line-height: 13px; height: auto}
    .registro .table select option {text-align: right}
*/
