@keyframes blink {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes alert {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blink {
  animation: "animation-blink-blink" 0.5s ease-in-out infinite alternate;
}
@media screen and (min-width: 768px) {
  html.com_osma .margin-top-sm {
    margin-top: 15px;
  }
}
html.com_osma body.t3-admin .control-group + .control-group {
  margin-top: 0;
}
html.com_osma .text-muted {
  color: #a0a0a0;
}
html.com_osma .main-panel {
  margin-top: 15px;
}
html.com_osma .bd-left {
  border-left: 1px solid #eee;
}
html.com_osma header.t3a-header-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
html.com_osma header.t3a-header-toolbar > div {
  height: 100%;
}
html.com_osma header.t3a-header-toolbar .t3a-header-module {
  white-space: nowrap;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
html.com_osma header.t3a-header-toolbar .t3a-header-module > .custom {
  display: inline-block;
  height: 100%;
}
html.com_osma header.t3a-header-toolbar .t3a-header-module > .custom > a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 100%;
}
html.com_osma header.t3a-header-toolbar .t3a-header-module > .custom > a > span {
  margin-right: 5px;
}
html.com_osma .t3a-toolbar .btn-group {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  display: block;
}
html.com_osma .t3a-toolbar .btn-group:after,
html.com_osma .t3a-toolbar .btn-group:before {
  content: "";
  display: table;
  width: 100%;
  clear: all;
}
html.com_osma .t3a-toolbar .t3a-form {
  background: #EEE;
}
html.com_osma .t3a-toolbar .t3a-form > div {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  html.com_osma .t3a-toolbar .t3a-form > div > div:nth-last-of-type(n + 2) {
    margin-bottom: 10px;
  }
}
html.com_osma .t3a-toolbar .t3a-form .field .chosen-container {
  width: 100%!important;
}
html.com_osma .t3a-toolbar .t3a-form .field.search {
  width: 100%;
}
html.com_osma .t3a-toolbar .t3a-form .field.search input {
  width: 100%;
}
html.com_osma .t3a-toolbar .t3a-form .field .input-group {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  html.com_osma .t3a-toolbar .t3a-form .clearfix > .col-sm-3:nth-of-type(n + 5) {
    margin-top: 10px;
  }
}
html.com_osma table.table .t3a-pagination {
  padding: 15px 0!important;
}
html.com_osma form.addcliente .panel-body {
  padding-bottom: 0!important;
}
@media screen and (max-width: 767px) {
  html.com_osma .btn-group.clearfix.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
html.com_osma.view-gestori td.color-container {
  display: block!important;
  padding: 0!important;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
html.com_osma.view-gestori td.color-container > div {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
html.com_osma.view-chiamata .main-panel form#chiamataForm .t3a-form select,
html.com_osma.view-chiamata .main-panel form#chiamataForm .t3a-form input,
html.com_osma.view-chiamata .main-panel form#chiamataForm .t3a-form .input-group,
html.com_osma.view-chiamata .main-panel form#chiamataForm .t3a-form textarea {
  background-color: #eeeeee;
  width: 100%;
}
@media screen and (min-width: 767px) {
  html.com_osma.view-chiamata .main-panel form#chiamataForm .t3a-form > div:nth-of-type(n + 7) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 992px) {
  html.com_osma.view-chiamata .main-panel form#chiamataForm .t3a-form > div:nth-of-type(n + 7) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  html.com_osma.view-chiamata .main-panel .col-xs-12 + .col-xs-12 {
    margin-top: 15px;
  }
  html.com_osma.view-chiamata .main-panel .btn-group.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
html.com_osma.view-chiamate .status-aperta {
  color: yellowgreen;
}
html.com_osma.view-chiamate .status-chiusa {
  color: tomato;
}
html.com_osma.view-chiamate .status-sospesa {
  color: orange;
}
html.com_osma.view-chiamate .status-in-corso {
  animation: "animation-blink-blink" 0.5s ease-in-out infinite alternate;
  color: forestgreen;
}
html.com_osma.view-chiamate .t3a-form .chosen-container {
  min-width: 125px;
}
html.com_osma.view-chiamate .pagination-top {
  margin-bottom: 15px;
}
html.com_osma.view-chiamate .panel-wrapper {
  margin-bottom: 15px;
  background-color: #f8f8f8;
}
html.com_osma.view-chiamate .panel-wrapper .side-panel {
  background: #C0C0C0;
}
html.com_osma.view-chiamate .panel-wrapper .side-panel .btn-group-vertical .btn {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
html.com_osma.view-chiamate .panel-wrapper .side-panel .btn-group-vertical .btn:hover {
  background: rgba(0, 0, 0, 0.25);
}
html.com_osma.view-chiamate .panel-wrapper .mail-history {
  background: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #E6E9ED;
  border-top: 0;
}
html.com_osma.view-chiamate .panel-wrapper .mail-history ul li + li {
  border-left: 1px solid #E6E9ED;
}
html.com_osma.view-chiamate .panel-wrapper .mail-history ul li p {
  margin-top: 10px;
}
html.com_osma.view-chiamate .panel-wrapper .mail-history ul li .allegati {
  margin-top: 10px;
}
html.com_osma.view-chiamate .panel-wrapper .mail-history ul li .allegati ul {
  padding-top: 5px;
}
html.com_osma.view-chiamate .panel-wrapper .mail-history ul li .allegati ul li {
  padding-left: 15px;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia {
  border-width: 0!important;
  border-left-width: 30px!important;
  margin-bottom: 0!important;
}
@media screen and (max-width: 767px) {
  html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia {
    border-left-width: 0!important;
    border-top-width: 15px!important;
  }
  html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia h2 {
    text-align: left;
  }
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body {
  border: 1px solid #E6E9ED;
  padding-bottom: 0;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body .cImage {
  margin: 0 auto;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body .intestazione {
  margin-bottom: 15px;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body .interventi {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #E6E9ED;
  margin-bottom: -1px;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body .interventi > div.dettagli-intervento {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E9ED;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body .interventi > div.dettagli-intervento .btn-group {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-body .interventi > div.dettagli-intervento {
    border-right: 1px solid #E6E9ED;
  }
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-footer {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 0;
  padding: 0;
}
html.com_osma.view-chiamate .panel-wrapper .panel.panelCompagnia > .panel-footer .btn-group {
  border-top: 0!important;
  border-bottom: 0!important;
}
@media print {
  html.com_osma.view-chiamate .t3a-wrapper {
    margin: 0;
    padding: 0;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel {
    margin: 0;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel > .panel-body {
    padding-bottom: 0;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel > .panel-body .panel-wrapper {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel > .panel-body .panelCompagnia {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel > .panel-body .panelCompagnia > .panel-body {
    border-bottom: 1px solid #E6E9ED;
    font-size: x-small;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel > .panel-body .panelCompagnia > .panel-body h4 {
    font-size: small;
    margin-bottom: 5px;
  }
  html.com_osma.view-chiamate .t3a-wrapper .panel.main-panel > .panel-body .panelCompagnia > .panel-body h2 {
    font-size: large;
  }
  html.com_osma.view-chiamate .t3a-wrapper .side-button {
    display: none;
  }
  html.com_osma.view-chiamate .t3a-wrapper .to-print {
    width: 100%;
  }
  html.com_osma.view-gestori form.gestoriForm .panel.panel-default {
    border: 0;
  }
  html.com_osma.view-gestori form.gestoriForm .panel.panel-default .panel-heading {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }
  html.com_osma.view-gestori form.gestoriForm .panel.panel-default .panel-heading h3 {
    margin: 0;
  }
  html.com_osma.view-gestori form.gestoriForm .panel.panel-default .panel-body {
    padding: 0;
    border: 0;
  }
  html.com_osma.view-gestori form.gestoriForm .panel.panel-default .panel-body table {
    font-size: 9px;
  }
  html.com_osma.view-gestori form.gestoriForm .panel.panel-default .panel-body table thead th {
    vertical-align: middle;
  }
  html.com_osma body.print-modal .panel.panel-default {
    display: none;
  }
  html.com_osma body.print-modal #addGestore {
    border: none;
  }
  html.com_osma body.print-modal #addGestore .modal-dialog {
    border: none;
  }
  html.com_osma body.print-modal #addGestore .modal-dialog .modal-content {
    border: none;
  }
  html.com_osma body.print-modal #addGestore .modal-dialog .modal-content .modal-header,
  html.com_osma body.print-modal #addGestore .modal-dialog .modal-content .modal-footer {
    display: none;
  }
  html.com_osma body.print-modal #addGestore .modal-dialog .modal-content .modal-body {
    padding: 0;
    border: none;
    font-size: 13px;
  }
  .hide-print {
    display: none;
    height: 0;
  }
}
