html.view-dashboard body .t3a-toolbar ul li {
  float: left;
}
html.view-dashboard body .t3a-toolbar ul li.current {
  padding: 15px;
  font-weight: bold;
}
html.view-dashboard body .t3a-toolbar ul li a {
  display: block;
  padding: 15px;
}
html.view-dashboard body .t3a-toolbar ul li + li {
  border-left: 1px solid #E6E9ED;
}
@media screen and (max-width: 767px) {
  html.view-dashboard body .t3a-toolbar ul {
    display: flex;
    font-size: 12px;
  }
  html.view-dashboard body .t3a-toolbar ul li {
    text-align: center;
  }
  html.view-dashboard body .t3a-toolbar ul li.current {
    padding: 10px;
  }
  html.view-dashboard body .t3a-toolbar ul li a {
    padding: 10px;
  }
}
html.view-dashboard body .main-panel .panel-body .numbers {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E9ED;
}
html.view-dashboard body .main-panel .panel-body .numbers div + div {
  border-left: 1px solid #E6E9ED;
}
html.view-dashboard body .main-panel .panel-body .numbers > div p {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
html.view-dashboard body .main-panel .panel-body .numbers > div h5 {
  margin: 0;
  font-size: 35px;
  text-align: right;
}
html.view-dashboard body .main-panel .panel-body .numbers > div label {
  text-align: right;
  margin-top: 10px;
}
html.view-dashboard body .main-panel .panel-body label {
  display: block;
  font-size: 10px;
}
