html.view-preventivatore body .capitolato-articoli {
  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  padding: 15px;
  border-top: 1px solid #E6E9ED;
  border-bottom: 1px solid #E6E9ED;
}
html.view-preventivatore body .capitolato-articoli:hover {
  background: #fafafa;
}
html.view-preventivatore body .capitolato-articoli + .capitolato-articoli {
  border-top: 0;
}
html.view-preventivatore body .capitolato-articoli + .sub-panel {
  border-top: 0!important;
}
html.view-preventivatore body .capitolato-articoli hr {
  padding-top: 10px;
  margin: 0!important;
  border: 0!important;
  width: 100%;
}
html.view-preventivatore body .panel .panel-body {
  padding: 0!important;
  border: 0!important;
}
html.view-preventivatore body .panel .panel-heading.flex {
  align-items: center;
}
html.view-preventivatore body .panel .panel-heading .panel-title {
  margin: 0!important;
}
html.view-preventivatore body .panel .panel-heading .btn .fa.fa-chevron-down {
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
html.view-preventivatore body .panel .panel-heading .btn:not(.collapsed) .fa.fa-chevron-down {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
@media screen and (max-width: 767px) {
  html.view-preventivatore body .panel .panel-heading .btn-wrapper {
    margin-top: 15px;
  }
}
html.view-preventivatore body .panel.sub-panel {
  border-left: 0!important;
  border-right: 0!important;
  border-bottom: 0!important;
  margin-bottom: 0!important;
}
html.view-preventivatore body .panel.sub-panel .panel-body > div:last-of-type {
  border-bottom: 0;
}
html.view-preventivatore body .panel.main-panel > .panel-body > .capitolato-articoli:last-of-type {
  border-bottom: 0!important;
}
