html.view-amministrazione body .main-panel .panel-body .numbers {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E9ED;
}
html.view-amministrazione body .main-panel .panel-body .numbers div + div {
  border-left: 1px solid #E6E9ED;
}
html.view-amministrazione body .main-panel .panel-body .numbers > div p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}
html.view-amministrazione body .main-panel .panel-body .numbers > div h5 {
  margin: 0;
  font-size: 35px;
  text-align: right;
}
html.view-amministrazione body .main-panel .panel-body .numbers > div label {
  text-align: right;
  margin-top: 10px;
}
html.view-amministrazione body .main-panel .panel-body label {
  display: block;
  font-size: 10px;
}
html.view-amministrazione body .chosen-container {
  width: 100%!important;
}
html.view-amministrazione body .select-all {
  cursor: pointer;
}
