html {
    body {


        form {
            .required {
                border: 1px solid transparent!important;
                &.invalid {
                    border: 1px solid red!important;
                }
            }
        }

        .chosen-container {
            .chosen-results {
                li {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .modal-signature {
            @media screen and (max-width: 767px) {
                margin: 0;
                min-height: 100vh;
                .modal-content {
                    min-height: 100vh;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    .modal-body {
                        flex: 1 0 auto;
                    }
                }
            }
        }
    }
}