.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

@main-padding: 15px;
@main-border: 1px solid #E6E9ED;

#registro {
    padding: @main-padding;

    .pd {padding: @main-padding;}
    .pd-top {padding-top: @main-padding;}
    .pd-bottom {padding-bottom: @main-padding;}
    .pd-right {padding-right: @main-padding;}
    .pd-top-bottom {
        .pd-top;
        .pd-bottom;
    }

    [class*='bd-'] {
        .border-box;
    }
    .bd-right {border-right: @main-border!important}
    .bd-left {border-left: @main-border!important}
    .bd-top {border-top: @main-border!important}
    .bd-bottom {border-bottom: @main-border!important}

    .bd {
        .bd-top;
        .bd-bottom;
        .bd-right;
        .bd-left;
    }

    .bd-right-left {
        .bd-right;
        .bd-left;
    }
    .bd-top-right-left {
        .bd-top;
        .bd-right;
        .bd-left;
    }
    .bd-top-bottom {
        .bd-top;
        .bd-bottom;
    }

    .mg {margin: @main-padding}
    .mg-top {margin-top: @main-padding}
    .mg-bottom {margin-bottom: @main-padding}

    .mg-top-bottom {
        .mg-top;
        .mg-bottom;
    }

    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .pre-compiled {
        font-family: monospace; 
        color: #666;
    }

    .leader {
        text-transform: uppercase;
    }

    .pt-field-container {
        > .bd:nth-of-type(n + 2) {
            border-top: 0!important;
        }
    }

    .cc-field-container, .ss-field-container {
        > .bd:nth-of-type(even) {
            border-left: 0!important;
        }
        > .bd:nth-of-type(n + 3) {
            border-top: 0!important;
        }
    }

    .ms-field-container {
        > .bd:nth-of-type(n + 2) {
            border-top: 0!important;
        }
    }

    .table {
        margin-bottom: 0;
        thead {
            > tr {
                > th {
                    border: 0;
                    vertical-align: middle;
                    &+ th {
                        border-left: @main-border;
                    }
                }
            }
            border-bottom: @main-border;
        }
        tbody {
            > tr {
                border: 0;
                > td {
                    border: 0;
                    vertical-align: middle;
                    font-size: 12px;
                    &+ td {
                        border-left: @main-border;
                    }
                }
                &+ tr {
                    border-top: @main-border;
                }
            }
        }
    }

    textarea {
        width: 100%!important;
    }

    label {
        display: block;
        width: 100%;
        font-weight: bold;
        &.inline {
            display: inline-block;
            width: auto;
            margin-right: 5px;
        }
    }

    .block {
        display: block;
    }

    .this-field {
        font-size: 12px;
    }

    .flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;   
        flex-wrap: wrap;
    }

    p {
        margin-bottom: 0;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {
        padding: 2px;
        height: 26px;
        width: 100%;
        .border-radius(0);
        .box-shadow(none);
    }
    textarea {
        min-height: 50px;
    }

    .dataInterventoGroup {
        input[type='text'] {
            display: inline-block;
            float: left;
            padding: 5px;
            height: auto; 
        }
    }
}

/*
    .registro > .row {
        border: 1px solid #DDD;
    }
    .registro > .row + .row {
        border-top: none;
    }
    .registro .row > :not([class*='col-']) {
        display: block;
        width: 100%;
    }

    .registro div > [class*='col-'] + [class*='col-']:not(.col-sm-12) {
        border-left: 1px solid #DDD;
    }
    .registro p {
        margin-bottom: 0;
    }
    .registro p + p {
        margin-top: 5px;
    }
    .registro .pre-compiled {
        font-family: monospace;
        color: #666;
    }
    .registro .leader {
        text-transform: uppercase;
    }
    .registro hr.just-line {
        margin: 0;
        padding: 0;
        border-top-color: #DDD;
    }
    .registro .table,
    .registro .table thead {
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .registro .table thead th {
        text-align: center;
        vertical-align: middle;
        font-weight: normal;
    }
    .registro .table td {
        vertical-align: middle;
        font-size: 12px;
    }
    .registro .table {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        margin-bottom: 0;
    }
    .registro .table thead tr th + th,
    .registro .table tbody tr td + td {
        border-left: 1px solid #DDD;
    }
    .registro .img-responsive {
        margin: 0 auto;
    }

    .registro textarea {
        width: 100%;
        margin: 5px;
    }

    .registro .block {
        display: block;
    }

    .registro .table select,
    .registro .table input:not([type='checkbox']):not([type='radio'])
    {padding: 2px; font-size: 13px; line-height: 13px; height: auto}
    .registro .table select option {text-align: right}
*/