@border-color: #E6E9ED;

.flex() {
    display: -webkit-box; 
    display: -moz-box;     
    display: -ms-flexbox;   
    display: -webkit-flex;
    display: flex;	  
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.clearfix() {
    &:after, &:before {
        content: "";
        display: table;
        width: 100%;
        clear: all;
    }
}

@keyframes blink {
    0% {opacity: 0} to {opacity: 1}
}
@keyframes alert {
    0% {opacity: 0} to {opacity: 1}
}
.blink {
    animation: "animation-blink-blink" .5s ease-in-out infinite alternate;
}

html.com_osma {

    @media screen and (min-width: 768px) {
        .margin-top-sm {
            margin-top: 15px;
        }
    }
    body.t3-admin {
        .control-group {
            & + .control-group {
                margin-top: 0;
            }
        }
    }

    .text-muted {
        color: #a0a0a0;
    }

    .main-panel {
        margin-top: 15px;
    }

    .bd-left {
        border-left: 1px solid #eee;
    }

    header.t3a-header-toolbar {
        border-bottom: 1px solid rgba(0,0,0,.1);
        > div {
            height: 100%;
        }
        .t3a-header-module {
            white-space: nowrap;
            height: 100%;
            .flex();
            > .custom {
                display: inline-block;
                height: 100%;
                > a {
                    .flex();
                    align-items: center;
                    height: 100%;
                    > span {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .t3a-toolbar {
        .btn-group {
            border-right: 0;
            border-top: 0;
            border-bottom: 0;
            display: block;
            .clearfix();
        }
        .t3a-form {
            background: #EEE;
            > div {
                padding-top: 15px;
                padding-bottom: 15px;
                @media screen and (max-width: 767px) {
                    > div:nth-last-of-type(n + 2) {
                        margin-bottom: 10px;
                    }
                } 
            }
            .field {
                .chosen-container {
                    width: 100%!important;
                }
                &.search {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
                .input-group {
                    width: 100%;
                    max-width: 100%;
                }
            }
            @media screen and (min-width: 768px) {
                .clearfix > .col-sm-3:nth-of-type(n + 5) {
                    margin-top: 10px;
                }
            }
        }
    }

    table.table {
        .t3a-pagination {
            padding: 15px 0!important;
        }
    }

    form.addcliente {
        .panel-body {
            padding-bottom: 0!important;
        }
    }

    @media screen and (max-width: 767px) {
        .btn-group.clearfix.col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.view-gestori {
        td.color-container {
            display: block!important;
            padding: 0!important; 
            background-size: cover; 
            background-position: center center;
            height: 100%;
            > div {
                height: 100%; 
                width: 100%;
                background: rgba(255,255,255, .85);
                padding: 15px;
                text-align: center; 
                font-size: 15px;
                font-weight: bold; 
                color: #000;
            }
        }
    }

    &.view-chiamata {
        .main-panel {
            form#chiamataForm {
                .t3a-form {
                    select, input, .input-group, textarea {
                        background-color: #eeeeee;
                        width: 100%;
                    }
                    @media screen and (min-width: 767px) {
                        > div:nth-of-type(n + 7) {
                            margin-top: 10px;
                        }
                    }
                    @media screen and (min-width: 992px) {
                        > div:nth-of-type(n + 7) {
                            margin-top: 10px;
                        }
                    }
                }
            }
            @media screen and (max-width: 767px) {
                .col-xs-12 + .col-xs-12{
                    margin-top: 15px;
                }
                .btn-group.col-xs-12 {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    &.view-chiamate {
        .status-aperta {
            color: yellowgreen;
        }
        .status-chiusa {
            color: tomato;
        }
        .status-sospesa {
            color: orange;
        }
        .status-in-corso {
            .blink;
            color: forestgreen;
        }
        .t3a-form {
            .chosen-container {
                min-width: 125px;
            }
        }

        .pagination-top {
            margin-bottom: 15px;
        }

        .panel-wrapper {
            margin-bottom: 15px;
            background-color: #f8f8f8;
            .side-panel {
                background: #C0C0C0;
                .btn-group-vertical {
                    .btn {
                        background: transparent;
                        border-bottom: 1px solid rgba(255,255,255,.2)!important;
                        &:hover {
                            background: rgba(0,0,0,.25);
                        }
                    }
                }
            }
            .mail-history {
                background: #f8f8f8;
                padding-top: 15px;
                padding-bottom: 15px;
                border: 1px solid #E6E9ED;
                border-top: 0;
                ul {
                    li + li {
                        border-left: 1px solid #E6E9ED;
                    }
                    li {
                        p {
                            margin-top: 10px;
                        }
                        .allegati {
                            margin-top: 10px;
                            ul {
                                padding-top: 5px;
                                li {
                                    padding-left: 15px;
                                }
                            }
                        }
                    }
                }
            }

            .panel.panelCompagnia {
                border-width: 0!important;
                border-left-width: 30px!important;
                margin-bottom: 0!important;
                @media screen and (max-width: 767px) {
                    border-left-width: 0!important;
                    border-top-width: 15px!important;
                    h2 {
                        text-align: left;
                    }
                }

                > .panel-body {
                    border: 1px solid @border-color;
                    padding-bottom: 0;

                    .cImage {
                        margin: 0 auto;
                    }

                    .intestazione {
                        margin-bottom: 15px;
                    }
                    .interventi {
                        display: flex;
                        flex-wrap: wrap;
                        border-top: 1px solid @border-color;
                        margin-bottom: -1px;
                        > div.dettagli-intervento {
                            padding-top: 15px;
                            padding-bottom: 15px;
                            border-bottom: 1px solid @border-color;
                            .btn-group {
                                margin-top: 10px;
                            }
                            @media screen and (min-width: 768px) {
                                border-right: 1px solid @border-color;
                            }
                        }
                    }
                }
                > .panel-footer {
                    .border-radius(0);
                    border-top: 0;
                    padding: 0; 
                    .btn-group {
                        border-top: 0!important;
                        border-bottom: 0!important;
                    }
                }
            }
        }
    }
}

@media print {
    html.com_osma {
        &.view-chiamate {
            .t3a-wrapper {
                margin: 0;
                padding: 0;
                .panel.main-panel {
                    margin: 0;
                    > .panel-body {
                        padding-bottom: 0;
                        .panel-wrapper {
                            page-break-before: avoid;
                            page-break-after: avoid;
                            page-break-inside: avoid;
                        }
                        .panelCompagnia {
                            > .panel-body {
                                border-bottom: 1px solid #E6E9ED;
                                font-size: x-small;
                                h4 {
                                    font-size: small;
                                    margin-bottom: 5px;
                                }
                                h2 {
                                    font-size: large;
                                }
                            }
                            page-break-before: always;
                            page-break-after: always;
                            page-break-inside: avoid;
                        }
                    }
                }
                .side-button {
                    display: none;
                }
                .to-print {
                    width: 100%;
                }
            }
        }
        &.view-gestori {
            form.gestoriForm {
                .panel.panel-default {
                    border: 0;
                    .panel-heading {
                        padding-left: 0;
                        padding-top: 0;
                        padding-right: 0;
                        h3 {
                            margin: 0;
                        }
                    }
                    .panel-body {
                        padding: 0;
                        border: 0;
                        table {
                            font-size: 9px;
                            thead {
                                th {
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
        body.print-modal {
            .panel.panel-default {
                display: none;
            }
            #addGestore {
                border: none;
                .modal-dialog {
                    border: none;
                    .modal-content {
                        border: none;
                        .modal-header, .modal-footer {
                            display: none;
                        }
                        .modal-body {
                            padding: 0;
                            border: none;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .hide-print {
        display: none;
        height: 0;
    }
}
