html.view-preventivatore {
    body {
        .capitolato-articoli {
            transition: all .2s ease;
            -moz-transition: all .2s ease;
            -webkit-transition: all .2s ease;
            padding: 15px;
            border-top: 1px solid #E6E9ED;
            border-bottom: 1px solid #E6E9ED;
            &:hover{
                background: #fafafa;
            }
            & + .capitolato-articoli {
                border-top: 0;
            }
            & + .sub-panel {
                border-top: 0!important;
            }
            hr {
                padding-top: 10px;
                margin: 0!important;
                border: 0!important;
                width: 100%;
            }
        }
        .panel {
            .panel-body {
                padding: 0!important;
                border: 0!important;
            }
            .panel-heading {
                &.flex {
                    align-items: center;
                }
                .panel-title {
                    margin: 0!important;
                }
                .btn {
                    .fa.fa-chevron-down {
                        transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                    }
                }
                .btn:not(.collapsed) {
                    .fa.fa-chevron-down {
                        transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                }
                .btn-wrapper {
                    @media screen and (max-width: 767px) {
                        margin-top: 15px;
                    }
                }
            }
            &.sub-panel {
                border-left: 0!important;
                border-right: 0!important;
                border-bottom: 0!important;
                margin-bottom: 0!important;
                .panel-body > div:last-of-type {
                    border-bottom: 0;
                }
            }
            &.main-panel {
                > .panel-body {
                    > .capitolato-articoli:last-of-type {
                        border-bottom: 0!important;
                    }
                }
            }
        }
    }
}