html.view-amministrazione {
    body {
        .main-panel {
            .panel-body {
                .numbers {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #E6E9ED;
                    div + div {
                        border-left: 1px solid #E6E9ED;
                    }
                    > div {
                        p {
                            text-align: left;
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                        h5 {
                            margin: 0;
                            font-size: 35px;
                            text-align: right;
                        }
                        label {
                            text-align: right;
                            margin-top: 10px;
                        }
                    }
                }
                label {
                    display: block;
                    font-size: 10px;
                }
            }
        }
        .chosen-container {
            width: 100%!important;
        }
        .select-all {
            cursor: pointer;
        }
    }
}