html.view-dashboard {
    body {
        .t3a-toolbar {
            ul {
                li {
                    float: left;
                    &.current {
                        padding: 15px;
                        font-weight: bold;
                    }
                    a {
                        display: block;
                        padding: 15px;
                    }
                    & + li {
                        border-left: 1px solid #E6E9ED;
                    }
                }

                @media screen and (max-width: 767px) {
                    display: flex;
                    font-size: 12px; 
                    li {
                        text-align: center;
                        &.current {
                            padding: 10px;
                        }
                        a {
                            padding: 10px;
                        }
                    }

                }
            }
        }
        .main-panel {
            .panel-body {
                .numbers {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #E6E9ED;
                    div + div {
                        border-left: 1px solid #E6E9ED;
                    }
                    > div {
                        p {
                            text-align: left;
                            font-size: 16px;
                            margin-bottom: 10px;
                            display: block;
                            white-space: nowrap;
                            max-width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        h5 {
                            margin: 0;
                            font-size: 35px;
                            text-align: right;
                        }
                        label {
                            text-align: right;
                            margin-top: 10px;
                        }
                    }
                }
                label {
                    display: block;
                    font-size: 10px;
                }
            }
        }
    }
}